.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000; /* Mantenerlo encima del resto del contenido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}


.logo img {
    width: 100px;
    height: auto;
}

.menu {
    display: flex;
    margin-left: 5%;
    gap: 75px;
    text-align: left;
    
}
.menu2 {
    text-align: right;
    margin-left: 25%;
    display: flex;
    gap: 95px;
    
}

.menu a {
    text-decoration: none;
    color: #553667;
    font-size: 18px;
    font-weight: 600; /* Un peso intermedio para evitar un cambio brusco */
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #333;
    font-weight: 600; /* No cambia el font-weight real */
    text-shadow: 0 0 0.8px #333, 0 0 0.8px #333; /* Simula negrita sin afectar el ancho */
}

.menu2 a {
    text-decoration: none;
    color: #553667;
    font-size: 18px;
    font-weight: 600; /* Un peso intermedio para evitar un cambio brusco */
    transition: color 0.3s ease;
}

.menu2 a:hover {
    color: #333;
    font-weight: 600; /* No cambia el font-weight real */
    text-shadow: 0 0 0.8px #333, 0 0 0.8px #333; /* Simula negrita sin afectar el ancho */
}