@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url(../images/homePage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.search-section {
    position: relative;
    height: 700px;
    width: 100%;
    background-image: url('fondoBuscador.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    color: white;
}


.search-container {
    
    background-color: rgba(255, 255, 255, 0.8);
    /* Blanco con 70% de opacidad */
    width: 40%;
    height: 38%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container h1 {
    margin: 0 0 0 0;
    font-size: 36px;
}

.search-box {
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
}

.imageStart {
    margin-top: 100px;
    width: 15%;
    height: 15%;
    filter: drop-shadow(0px 8px 10px rgba(255, 255, 255, 0.8)) /* Sombra más fuerte hacia abajo */
            drop-shadow(5px 0px 6px rgba(255, 255, 255, 0.5))  /* Sombra más grande a la derecha */
            drop-shadow(-5px 0px 6px rgba(255, 255, 255, 0.5)); /* Sombra más grande a la izquierda */
    
}

.imageSearchBox {
    
    width: 30%;
    height: 19%;
    filter: drop-shadow(0px 8px 10px rgba(255, 255, 255, 0.8)) /* Sombra más fuerte hacia abajo */
            drop-shadow(5px 0px 6px rgba(255, 255, 255, 0.5))  /* Sombra más grande a la derecha */
            drop-shadow(-5px 0px 6px rgba(255, 255, 255, 0.5)); /* Sombra más grande a la izquierda */
    
}

.div1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explorer{
    margin-top: 5px;
    font-family: 'Slabo 27px', serif;
     font-weight: bold;
   padding:20px;
font-size: 40px;
    color: #553667;
}