.login-section {
    min-height: 100vh;
    background-image: url(../images/login.jpg);
    background-size: cover;
    position: relative;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    
}

h2{
    font-size: 2.7em;
}

/* https://www.youtube.com/watch?v=hlwlM4a5rxg */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.login-grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 12% 76% 12%;

}

.login-container{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
grid-column-start:2 ;
grid-column-end:3;
grid-row-start: 2;
grid-row-end: 3;
border: solid 3px white;
border-radius: 40px;
margin-left: 10%;
margin-right: 10%;
background-color: rgb(0, 0, 0, 0.3);
backdrop-filter: blur(20px);
}

.login-container .input-box{
    width: 100%;
    height: 35px;
    margin: 30px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 40px;
    padding-left:10px ;
    color: white;
}

.input-box input::placeholder {
    color: white;
}

.remember-forgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.login-container button{
    width: 100%;
    height: 10%;
    border-radius: 40px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;

}

@media(max-width:1100px){
    .login-grid{
        grid-template-columns: 15% 70% 15%;
        grid-template-rows: 15% 70% 15%;
        
    }
    h2{
        font-size: 2em;
    }
}


