.search-section {
    min-height: 110vh;
    background-image: url(../images/posibleLogin.jpg);
    background-size: cover;
    position: relative;
    z-index: 10;
    background-repeat: no-repeat;
    background-position: center;
    
}


.grid-container {
    height: 94vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;



}

.explorer {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end:7;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}



.title-container{
    grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    align-items: center;
    
   
}

.title-logo{
    width: 30%;
    height: 55%
}

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

.title-text {
    margin-top: 5px;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    font-size: 4em;
    padding: 20px;
    color: white;
}


.search-box {
    margin-left: 3%;
    padding: 10px;
    width: 80%;
    border-color: #B891CB;
    border-radius: 20px;

}




.info-1{
background-color: green;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

/* SLIDER EVENTOS */

.card-list .card-item{
    list-style: none;
}


.card-list .card-item .card-link{
    width: 400px;
    display: block;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    background-color: white;
}

.card-list .card-link .card-image{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge{
    color: #8B6A9C;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18 px;
    background-color: #d3a1ef;
    width: fit-content;
    border-radius: 50px;
}




@media(max-width:900px){
   
    .search-section {
        background-image: url(../images/posibleLogin.jpg);
    }

    .explorer {
        grid-column-start: 2;
        grid-column-end: 10;
        
    }
    .title-text {
        margin-top: 5px;
        font-family: 'Slabo 27px', serif;
        font-weight: bold;
        font-size: 3.7em;
        padding: 20px;
        color: white;
    }
    .title-container{
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 5;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        align-items: center;
    }
}
@media(max-width:700px){
   
    
    .title-text {
        margin-top: 5px;
        font-family: 'Slabo 27px', serif;
        font-weight: bold;
        font-size: 3em;
        padding: 20px;
        color: white;
    }
   
}

@media(max-height:725px){
   
    .title-container{
        grid-column-start: 1;
        grid-column-end: 11;

    }
    .title-text{
        font-size: 3em;
    }
}
